*, 
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 70px;
}


.header_all {
    display: flex; 
    align-items: center;
    margin-top: 38px;  
}


.list_one {
    display: flex;
    gap: 75px;
    margin-left: 266px;
    font-size: 16px;
}

.list_two {
    margin-left: 158px;
}


a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.list_2_item {
    margin-left: 45px;
}

.list_3_item {
    margin-left: 45px;
}

.list_4_item {
    margin-left: 45px;
}



/**/

.glavny {
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    padding-top: 153px;
}

.glavny_block {
    background-color: #FFF3E3;
    width: 643px;
    height: 443px;
    border-radius: 10px;
    padding-top: 45px;
    padding-left: 39px;
    margin-left: 770px;
}

.block_p {
    font-size: 16px;
    letter-spacing: 3px;
    color: #333333;
    font-weight: 600;
}

.block_title {
    font-size: 52px;
    width: 450px;
    color: #B88E2F;
}

.block_text {
    width: 546px;
    color: #333333;
    font-size: 18px;
    margin-top: 17px;
}

.block_button {
    width: 222px;
    height: 74px;
    background-color: #B88E2F;
    border: #B88E2F;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 46px;
}

/**/

.browse {
    margin-top: 57px;
}

.browse_title {
    text-align: center;
    color: #333333;
    font-size: 32px;
    font-weight: 700;
}

.brows_text {
    text-align: center;
    color: #666666;
    font-size: 20px;
}

.imag {
    margin-top: 62px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imag_text1 {
    font-size: 24px;
    color: #333333;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

.imag_text2 {
    font-size: 24px;
    color: #333333;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

.imag_text3 {
    font-size: 24px;
    color: #333333;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}


/**/

.product_title {
    text-align: center;
}

.products {
    margin-top: 60px;
}

.product_carts {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
}

.product_cart_1 {
    width: 285px;
    height: 446px;
    background-color: #F4F5F7;
}

.p_title_1 {
    font-size: 24px;
    font-weight: 600;
    color: #3A3A3A;
    margin-top: 16px;
    margin-left: 16px;
}

.p_text_1 {
    color: #898989;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 16px;
}

.p_ch_1 {
    font-size: 20px;
    color: #3A3A3A;
    font-weight: 600;
    margin-top: 8px;
    margin-left: 16px;
}

.pr {
    width: 245px;
    height: 48px;
    color: #B88E2F;
    font-size: 16px;
    border: 1px solid #B88E2F;
    background-color: #FFFFFF;
    margin-top: 32px;
    margin-left: 598px;
    cursor: pointer;
}

/**/

.furniro {
    margin-top: 67px;
}

.furniro_text {
    text-align: center;
    font-size: 20px;
    color: #616161;
    font-weight: 600;
}

.furniro_title {
    text-align: center;    
    font-size: 40px;
    font-weight: 700;
    color: #3A3A3A;
}


/**/

.rooms .container {
    display: flex;
    align-items: center;
}
 
.rooms {
    background-color: #FCF8F3;
    height: 690px;
    margin-top: 69px;
}

.rooms_text_block {
    margin-left: 100px;
}

.rooms_title {
    width: 422px;
    font-size: 40px;
    color: #3A3A3A;
    font-weight: 700;
}

.rooms_text {
    color: #616161;
    font-size: 16px;
    width: 368px;
}

.rooms_btn {
    width: 176px;
    height: 48px;
    background-color: #B88E2F;
    border: #B88E2F;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 25px;
}

.rooms_img {
    margin-top: 60px;
    margin-left: 80px ;
}


/**/

.footer {
    height: 505px;
    border-top: #9F9F9F 1px solid;
    justify-items: center;
    margin-top: 50px;
}

.gray {
    color: #9F9F9F;
    font-size: 16px;
}

.flist-two .gray {
    margin-bottom: 55px;
}

.flist {
    display: flex;
    gap: 140px;
    width: 1240px;
    height: 420px;
    margin-top: 48px;
}

.flist-one p {
    width: 285px;
}

.flist-one h2 {
    font-size: 24px;
    margin-bottom: 50px;
}

.footer ul {
    list-style: none;
}

.flist-two li {
    margin-bottom: 45px;
}

.rever {
    height: 59px;
    border-top: #898989 1px solid;
    padding-top: 35px;
    width: 1240px;
}

.flist-three input {
    margin-top: 53px;
    border-bottom: 1px solid black;
    border-top: 0px; border-left: 0px; border-right: 0px;
    width: 200px; height: 24px;
}

.flist-three button {
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-top: 0px; border-left: 0px; border-right: 0px;
    height: 25px;
    margin-left: 11px;
    background-color: white;
}
